/workshops/unit01/WS03Ooperators/BasicOperations/nbproject/private/
/workshops/unit01/WS03Ooperators/BasicOperations/build/
/workshops/unit01/ASSAIGMENTS/HW02/short/nbproject/private/
/workshops/unit01/ASSAIGMENTS/HW02/short/build/
/workshops/unit01/ASSAIGMENTS/HW02/int/nbproject/private/
/workshops/unit01/ASSAIGMENTS/HW02/build/
/workshops/unit01/ASSAIGMENTS/HW02/int/build/
/workshops/unit01/ASSAIGMENTS/HW02/Float/nbproject/private/
/workshops/unit01/ASSAIGMENTS/HW02/Float/build/
/workshops/unit01/WSO4Logicas operators/WSO4LogicalOperators/nbproject/private/
/workshops/unit01/WSO4Logicas operators/WSO4LogicalOperators/build/
/workshops/unit01/WSO4Logicas operators/javaijjjijiii/nbproject/private/
/workshops/unit01/WSO4Logicas operators/javaijjjijiii/build/
/workshops/unit01/WS05/nbproject/private/
/workshops/unit01/WS05/build/
/workshops/unit01/WS05Iterations/Assigments02/nbproject/private/
/workshops/unit01/WS05Iterations/Assigments02/build/
/workshops/unit01/WS05Iterations/Assigmentss02/nbproject/private/
/workshops/unit01/WS05Iterations/Assigmentss02/build/
/workshops/unit01/WS05Iterations/exercise/nbproject/private/
/workshops/unit01/WS05Iterations/exercise/build/
/workshops/unit01/menu/menu/nbproject/private/
/workshops/unit01/menu/menu/build/
/workshops/unit02/WSO8TableMultiplication/nbproject/private/
/workshops/unit02/WSO8TableMultiplication/build/
/assignments/unit 2/HW09-EmbeddedStructures/nbproject/private/
/assignments/unit 2/HW09-EmbeddedStructures/build/
/assignments/unit 2/WSO10Funtions/nbproject/private/
/assignments/unit 2/WSO10Funtions/build/
/workshops/unit02/10/nbproject/private/
/workshops/unit02/HW10-Functions/nbproject/private/
/workshops/unit02/HW10-Functions/build/
/assignments/unit 2/HW10-Functions/nbproject/private/
/assignments/unit 2/HW10-Functions/build/
/workshops/unit02/WS11/nbproject/private/
/workshops/unit02/WS11/build/
/workshops/unit02/WS11 changes the verbs/nbproject/private/
/workshops/unit02/WS11 Funtions and recursion/WS11/build/
/workshops/unit02/WS11 Funtions and recursion/WS11/nbproject/private/
/workshops/unit02/WS11 Funtions and recursion/WS11/dist/
/assignments/unit 2/HW11Recursion/nbproject/private/
/assignments/unit 2/HW11Recursion/build/
/assignments/unit 2/HW11Example/nbproject/private/
/assignments/unit 2/HW11Example/build/
/workshops/unit02/WS12Libraries/nbproject/private/
/workshops/unit02/WS12Libraries/build/
/workshops/unit02/HW12-Taxes/nbproject/private/
/workshops/unit02/HW12-Taxes/build/
/workshops/unit02/jjjjjj/nbproject/private/
/workshops/unit02/ggg/nbproject/private/
/workshops/unit02/ggg/build/
/workshops/unit02/13/nbproject/private/
/workshops/unit02/13/build/
/workshops/unit02/WS14Arrays/nbproject/private/
/workshops/unit02/WS14Arrays/build/
/assignments/unit 2/HW14Arrays/nbproject/private/
/assignments/unit 2/HW14Arrays/build/
/Quis/Quis 1/nbproject/private/
/Quis/Quis 1/build/
/workshops/unit02/WS16-MatrixAddition/nbproject/private/
/workshops/unit02/WS16-MatrixAddition/build/
/workshops/unit02/WS15-CorrectionExam/nbproject/private/
/workshops/unit02/WS15-CorrectionExam/build/
/assignments/unit 2/HW15-MatrixOperation/HW15-MatrixOperation/nbproject/private/
/assignments/unit 2/HW15-MatrixOperation/HW15-MatrixOperation/build/
/assignments/unit 2/HW15-MatrixOperation/WS17-MatrixTransposition/nbproject/private/
/assignments/unit 2/HW15-MatrixOperation/WS17-MatrixTransposition/build/
/assignments/unit 2/HW15-MatrixOperation/HW15-MatrixOperation/dist/
/assignments/unit 2/HW15-MatrixOperation/HW16MatrixFuncitions/nbproject/private/
/assignments/unit 2/HW15-MatrixOperation/HW16MatrixFuncitions/build/
/Exam/Unit 2/ToapantaKevinQ11/Q11/nbproject/private/
/Exam/Unit 2/ToapantaKevinQ11/Q11/build/
/workshops/unit02/WSHCorrection/nbproject/private/
/workshops/unit02/WSHCorrection/build/
/workshops/unit02/wh19/nbproject/private/
/workshops/unit02/wh19/build/
/assignments/unit 2/HW10-Functions/dist/
/assignments/unit 2/HW11Example/dist/
/workshops/unit02/Funciones/nbproject/private/
/workshops/unit02/Funciones/build/
/workshops/unit02/funcionesWS21/nbproject/private/
/workshops/unit02/funcionesWS21/build/
/workshops/unit02/funcionesWS21/dist/
/workshops/unit03/WS22Modularity/nbproject/private/
/workshops/unit03/WS22Modularity/build/
/workshops/unit03/TaxDeclarations/nbproject/private/
/workshops/unit03/Taxlibriry/nbproject/private/
/workshops/unit03/Taxlibriry/build/
/workshops/unit03/Taxlibriry/dist/
/workshops/unit03/WS23Library/TaxDeclarations/build/
/workshops/unit03/hw16iimodularity/nbproject/private/
/workshops/unit03/hw16iimodularity/build/
/workshops/unit03/hw16iimodularity/dist/
/workshops/unit03/Sorting/nbproject/private/
/assignments/unit 3/HW17LineaSearch/nbproject/private/
/assignments/unit 3/HW17LineaSearch/build/
/assignments/unit 3/HW17LineaSearchh/nbproject/private/
/assignments/unit 3/HW17LineaSearchh/build/
/assignments/unit 3/HW17LineaSearch/dist/
/workshops/unit03/W25OperationsWithStrings/Contacts/nbproject/private/
/workshops/unit03/W25OperationsWithStrings/Contacts/build/
/assignments/unit 3/HW19SearchingForm/hw19/nbproject/private/
/assignments/unit 3/HW19SearchingForm/hw19/build/