/workshops/unit01/WS03Ooperators/BasicOperations/nbproject/private/
/workshops/unit01/WS03Ooperators/BasicOperations/build/
/workshops/unit01/ASSAIGMENTS/HW02/short/nbproject/private/
/workshops/unit01/ASSAIGMENTS/HW02/short/build/
/workshops/unit01/ASSAIGMENTS/HW02/int/nbproject/private/
/workshops/unit01/ASSAIGMENTS/HW02/build/
/workshops/unit01/ASSAIGMENTS/HW02/int/build/
/workshops/unit01/ASSAIGMENTS/HW02/Float/nbproject/private/
/workshops/unit01/ASSAIGMENTS/HW02/Float/build/
/workshops/unit01/WSO4Logicas operators/WSO4LogicalOperators/nbproject/private/
/workshops/unit01/WSO4Logicas operators/WSO4LogicalOperators/build/
/workshops/unit01/WSO4Logicas operators/javaijjjijiii/nbproject/private/
/workshops/unit01/WSO4Logicas operators/javaijjjijiii/build/
/workshops/unit01/WS05/nbproject/private/
/workshops/unit01/WS05/build/
/workshops/unit01/WS05Iterations/Assigments02/nbproject/private/
/workshops/unit01/WS05Iterations/Assigments02/build/
/workshops/unit01/WS05Iterations/Assigmentss02/nbproject/private/
/workshops/unit01/WS05Iterations/Assigmentss02/build/
/workshops/unit01/WS05Iterations/exercise/nbproject/private/
/workshops/unit01/WS05Iterations/exercise/build/
/workshops/unit01/menu/menu/nbproject/private/
/workshops/unit01/menu/menu/build/
/workshops/unit02/WSO8TableMultiplication/nbproject/private/
/workshops/unit02/WSO8TableMultiplication/build/
/assignments/unit 2/HW09-EmbeddedStructures/nbproject/private/
/assignments/unit 2/HW09-EmbeddedStructures/build/
/assignments/unit 2/WSO10Funtions/nbproject/private/
/assignments/unit 2/WSO10Funtions/build/
/workshops/unit02/10/nbproject/private/
/workshops/unit02/HW10-Functions/nbproject/private/
/workshops/unit02/HW10-Functions/build/
/assignments/unit 2/HW10-Functions/nbproject/private/
/assignments/unit 2/HW10-Functions/build/
/workshops/unit02/WS11/nbproject/private/
/workshops/unit02/WS11/build/
/workshops/unit02/WS11 changes the verbs/nbproject/private/
/workshops/unit02/WS11 Funtions and recursion/WS11/build/
/workshops/unit02/WS11 Funtions and recursion/WS11/nbproject/private/
/workshops/unit02/WS11 Funtions and recursion/WS11/dist/